<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>GraphikTH-SemiBoldItalic.ttf</string>
		<string>GraphikTH-RegularItalic.ttf</string>
		<string>GraphikTH-SemiBold.ttf</string>
		<string>GraphikTH-Regular.ttf</string>
		<string>GraphikTH-Bold.ttf</string>
		<string>GraphikTH-Light.ttf</string>
		<string>GraphikTH-Medium.ttf</string>
		<string>GraphikTH-MediumItalic.ttf</string>
		<string>CircularLLMono-Regular.ttf</string>
		<string>Circular-ThinItalic.ttf</string>
		<string>Circular-Thin.ttf</string>
		<string>Circular-Regular.ttf</string>
		<string>Circular-MediumItalic.ttf</string>
		<string>Circular-Medium.ttf</string>
		<string>Circular-LightItalic.ttf</string>
		<string>Circular-Light.ttf</string>
		<string>Circular-Italic.ttf</string>
		<string>Circular-ExtraBlackItalic.ttf</string>
		<string>Circular-ExtraBlack.ttf</string>
		<string>Circular-BookItalic.ttf</string>
		<string>Circular-Book.ttf</string>
		<string>Circular-BoldItalic.ttf</string>
		<string>Circular-Bold.ttf</string>
		<string>Circular-BlackItalic.ttf</string>
		<string>Circular-Black.ttf</string>
		<string>Akzidenz-Grotesk-Next-Regular-Cond-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Black-Cond-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Light-Cond.otf</string>
		<string>Akzidenz-Grotesk-Next-Black-Extd.otf</string>
		<string>Akzidenz-Grotesk-Next-XLight-Extd-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Bold-Cond.otf</string>
		<string>Akzidenz-Grotesk-Next-Black-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-XBold-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Light.otf</string>
		<string>Akzidenz-Grotesk-Next-Light-Extd.otf</string>
		<string>Akzidenz-Grotesk-Next-Regular.otf</string>
		<string>Akzidenz-Grotesk-Next-Black-Cond.otf</string>
		<string>Akzidenz-Grotesk-Next-Black-Extd-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Regular-Extd-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Bold-Extd.otf</string>
		<string>Akzidenz-Grotesk-Next-Bold.otf</string>
		<string>Akzidenz-Grotesk-Next-XBold-Extd-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Medium.otf</string>
		<string>Akzidenz-Grotesk-Next-XLight-Cond.otf</string>
		<string>Akzidenz-Grotesk-Next-XBold-Extd.otf</string>
		<string>Akzidenz-Grotesk-Next-Medium-Extd-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Light-Cond-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Bold-Extd-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Black.otf</string>
		<string>Akzidenz-Grotesk-Next-Regular-Cond.otf</string>
		<string>Akzidenz-Grotesk-Next-Medium-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Light-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Medium-Extd.otf</string>
		<string>Akzidenz-Grotesk-Next-Medium-Cond-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-XLight-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Bold-Cond-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Light-Extd-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-XLight-Extd.otf</string>
		<string>Akzidenz-Grotesk-Next-Regular-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-XBold-Cond-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Regular-Extd.otf</string>
		<string>Akzidenz-Grotesk-Next-Bold-Italic.otf</string>
		<string>Akzidenz-Grotesk-Next-Medium-Cond.otf</string>
	</array>
</dict>
</plist>
